body {
    font-family: 'Source Sans Pro', sans-serif;
    color: #777;
    font-size: 16px;
    line-height: 1.7em;
    font-weight: 400;
    overflow-x: hidden;
    -webkit-text-size-adjust: 100%;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
}
.carousel-inner img {
    width: 100%;
}
.manufacturer-header {
    border-bottom: 1px solid black
}
.manufacturer-header span{
    float: right;
    position: relative;
}
.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}
@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}
<<<<<<< HEAD
/* =-=-=-=-=-=-= Card  =-=-=-=-=-=-= */
.category-grid-box-1 {
    background: #fff none repeat scroll 0 0;
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.16);
    overflow: hidden;
    float: left;
    display: block;
    width: 100%;
    position: relative;
}
.category-grid-box-1:after {
    content: '';
    clear: both;
    display: block;
}
.category-grid-box-1 .category-title {
    color: #a0a0a0;
    font-size: 14px;
}
.category-grid-box-1 .category-title a {
    color: #a0a0a0;
}
.category-grid-box-1 h3 {
    color: #232323;
    font-size: 18px;
    margin-bottom: 4px;
    text-transform: capitalize;
}

.category-grid-box-1:hover {
    box-shadow: 0 2px 5px -1px rgba(0, 0, 0, 0.4);
}
.category-grid-box-1 .price-tag .price span {
    background-color: #E52D27;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    padding: 5px 30px;
    text-transform: capitalize;
}
.category-grid-box-1 .short-description-1 {
    padding: 15px 15px 15px 15px;
    background: #fff none repeat scroll 0 0;
}
.category-grid-box-1 .short-description-1 ul {
    line-height: 30px;
    margin-bottom: 0;
    margin-top: 20px;
}
.category-grid-box-1 .short-description-1 ul li {
    display: inline-block;
    font-size: 18px;
    overflow: hidden;
    position: relative;
    color: #1f1d22;
    margin-right: 10px;
    margin-bottom: 0;
}
.category-grid-box-1 .short-description-1 ul li i {
    color: #999;
    float: left;
    font-size: 20px;
    line-height: 30px;
    margin-right: 10px;
}
.category-grid-box-1 .price-tag {
    bottom: 3px;
    position: absolute;
    right: 0;
}
.category-grid-box-1 .image {
    overflow: hidden;
    position: relative;
}
.category-grid-box-1 .image img {
    width: 100%;
    position: relative;
}
.category-grid-box-1 .short-description-1 h3 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/* =-=-=-=-=-=-= Detail  =-=-=-=-=-=-= */
=======

>>>>>>> 76a8041979e4108c3ee84cb12cb498bc7bf007a5
.detail-line {
    display: inline-block;
    width: 100%;
    border-bottom: 1px #ddd solid;
    float: left;
}
<<<<<<< HEAD
=======

>>>>>>> 76a8041979e4108c3ee84cb12cb498bc7bf007a5
.detail-line>.detail-line-lable {
    float: left;
    color: #a7a7a7;
    width: 35%;
}
<<<<<<< HEAD
=======

>>>>>>> 76a8041979e4108c3ee84cb12cb498bc7bf007a5
.detail-line>.detail-line-value {
    float: left;
    width: 65%;
}
<<<<<<< HEAD
=======

>>>>>>> 76a8041979e4108c3ee84cb12cb498bc7bf007a5
img.img-big {
    width: 673px;
    height: 372px;
}
<<<<<<< HEAD
img.img-small {
    width: 123px;
    height: 81px;
}
=======

img.img-small {
    width: 123px;
    height: 81px;
}
>>>>>>> 76a8041979e4108c3ee84cb12cb498bc7bf007a5
